name: Matrix Strategy Lab

on:
  workflow_dispatch:

jobs:
  test-matrix:

    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        node-version: [16, 18]

    runs-on: ${{ matrix.os }}

    steps:
      - name: Show matrix combination
        run: |
          echo "OS: ${{ matrix.os }}"
          echo "Node version: ${{ matrix.node-version }}"
